:root {
  --bs-primary: #007bff;
  --bs-secondary: #6c757d;
}

body * {
  font-family: 'Roboto', 'Times New Roman';
  color: #343a40;
}

body, nav {
    background-color: #f8f9fa;
}

a {
  color: #007bff
}

.icon-comment {
  color: #007bff; 
  font-size: xx-large;
  -webkit-text-stroke: 1px white; /* CSS hack för att få ikonen att se smalare ut */
}